---
import Hero from '@components/Hero.astro';
import Region from '@components/Region.astro';
import OpenGraph from '@components/struct/OpenGraph.astro';

import { places } from '@data/places';

import Layout from '@layouts/Layout.astro';

const options = {
  title: 'Tech School',
  description: 'Primer evento tecnologico inter regional'
};
---

<Layout options={options}>
  <OpenGraph
    description={options.description}
    image="/og/og.jpg"
    slot="social-media"
    title={options.title}
  />

  <main>
    <Hero />

    {places.map(
      ({ direction, icon, name }) => (

        <Region
          direction={direction}
          icon={icon}
          region={name}
        />
      )
    )}

  </main>

  <footer>
    <!-- TODO: Add your footer here -->
  </footer>
</Layout>
